{
  "presets": [
    [
      "flow"
    ],
    [
      "react"
    ],
    [
      "env",
      {
        "targets": {
          "electron": 1.4
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}